/* html */

#logos {
    float:right;
    display:inline-block;
    }
hr.footnotes {
    width: 20%;
    margin-left: 0;
}
hr.divide {
    width: 0%;
    float: centre;
    display:inline-block;
}

.ui-panel.ui-panel-open {
    position:fixed;
}
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    width: auto\9; /* ie8 */
}

.imgcenter {
    text-align: center;
}

.ui-content {
    border-width: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6, h7 {
    /* Remove unnecessary margin after headers, but add some before to differenciate between different sections, that's good page style standards (ie, the between-sections blank space must be greater than within-section vertical/interline blank spaces) */
    margin-top: 1.5em;
    margin-bottom: 0;
}

h1>a, h2>a, h3>a, h4>a, h5>a, h6>a, h7>a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.0em;
    font-weight: bold;
}
h3 {
    font-size: 1.7em;
    font-style: italic;
    text-align: center;
}
h4 {
    font-size: 1.4em;
    font-weight: bold;
}
h5 {
    font-size: 1.15em;
    font-weight: bold;
    font-style: italic;
}

h6, h7 {
    /* Unused, Zim Notes saves h6 and h7 in notes unofficially but doesn't export them and they're not shown in menus nor toc */
    font-size: 1.1em;
    font-weight: bold;
}

p {
    /* Avoid the paragraph being to far from its preceding header */
    margin: 0;
    margin-bottom: 1.0em;
    /* Justify text */
    text-align: justify;
    text-justify: inter-word;
}

.content li {
    /* Add some margin between list items, but only in .content, not in .navigation pane */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content a {
    text-decoration-style: dotted;
}
